################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Matchingpairsgame/.vs/Matchingpairsgame/v15
/Matchingpairsgame/Matchingpairsgame/obj/Debug
/MyMusicPlayer/.vs/MyMusicPlayer/v15
/MyMusicPlayer/MyMusicPlayer/obj/Debug
/CreateScreenSaver/CreateScreenSaver/obj/Debug
/CreateScreenSaver/.vs/CreateScreenSaver/v15
/MyScreenSaver/.vs/MyScreenSaver/v15
