################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Matchingpairsgame/.vs/Matchingpairsgame/v15
/Matchingpairsgame/Matchingpairsgame/obj/Debug
/MyMusicPlayer/.vs/MyMusicPlayer/v15
/MyMusicPlayer/MyMusicPlayer/obj/Debug
/CreateScreenSaver/CreateScreenSaver/obj/Debug
/CreateScreenSaver/.vs/CreateScreenSaver/v15
/MyScreenSaver/.vs/MyScreenSaver/v15
/CreateAMaze/.vs/CreateAMaze/v15
/CreateAMaze/CreateAMaze/obj/Debug
/CreateAMaze/CreateAMaze/bin/Debug
/PictureViewer/.vs/PictureViewer/v15
/PictureViewer/PictureViewer/obj/Debug
/myPaint/myPaint/obj/Debug
/myPaint/.vs/myPaint/v15
/currencyConverter/.vs/currencyConverter/v15
/currencyConverter/currencyConverter/obj/Debug
